.footer-section {
  background-color: var(--color-surface-hero);
  padding: 100px 0;
}

.footer-section .footer-logo {
  color: var(--color-surface-default);
  display: inline-block;
  font-weight: 700;
}

.footer-section .footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-surface-default);
  max-width: 264px;
  margin-top: 16px
}
