.portfolio-section .portfolio-item {
  background-color: var(--color-surface-primary);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-section .portfolio-item:hover {
  box-shadow: 0px 2px 1px 0px #2E2F4214,
              0px 1px 1px 0px #2E2F4229,
              0px 1px 6px 0px #2E2F4214;
}

.portfolio-section .portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-section .portfolio-img-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-section .portfolio-img {
  display: block;
}
.portfolio-section .portfolio-card-content {
  padding: 32px 16px;
  border: 1px solid var(--color-accent-subtle);
  border-top: none;
}

.portfolio-section .portfolio-overlay {
  background-color: var(--color-brand-default);
  color: var(--color-surface-default);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-section .portfolio-item:hover .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-section .portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-contrast-high);
  margin-bottom: 8px;
}

.portfolio-section .portfolio-item-category {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
